.footer {
    height: 7%;
    position: fixed;
    bottom: 0;
    background-color: #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: #d8d8d8;
    font-size: 0.9rem;
    margin: 0;
}